
body, html {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}
.BGimg {
    background-image: url('../assets/img/BG.jpg');
    background-size: 100% 100%;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
.CarD {
    background-color: rgba(40, 39, 39, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}


